@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
:root {
    --Moderateviolet: hsl(263, 55%, 52%);
    --Verydarkgrayishblue: hsl(217, 19%, 35%);
    --Verydarkblackishblue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);

//Neutral 
    --Lightgray: hsl(0, 0%, 81%);
    --Lightgrayishblue: hsl(210, 46%, 95%);

//Primary
    --primary: 'Barlow Semi Condensed';
    --fw-500: 500; 
    --fw-600: 600;
}

body {
    margin: 0;
    font-family: var(--primary) !important;
    background-color: var(--Lightgrayishblue) !important;
}

main {
    display: grid;
    .testimonial-card {
        width: 80%;
        border-radius: 10px;
        margin-inline: auto;
        margin-block: 1.5em;
        padding: 1em 2em;
        box-shadow: 0 5px 10px 5px rgba(128, 128, 128, 0.447);
            img {
             
                border-radius: 50%;
                border: 2px solid gray;
                width: 2em;
            }
            .name {
                margin-left: 1em;
                h2 {
                    font-size: .9em;
                    color: var(--Lightgray);
                }
                p {
                    margin-top: -10px;
                    color: var(--Lightgray);
                    opacity: 0.7;
                    font-size: .8em;
                }
            }
        blockquote {
            
            p:first-of-type {
                color: var(--White);
                font-size: 1.45em;
                line-height: 1.2;
             
            }
            p:last-of-type {
                color: var(--Lightgray);
                opacity: 0.7;
            }
        }
    }
    .testimonial-card:nth-child(1) {
        background-color: var(--Moderateviolet);
    }
    .testimonial-card:nth-child(2) {
        background-color: var(--Verydarkgrayishblue);
    }
    .testimonial-card:nth-child(3),:nth-child(5) {
        background-color: var(--White);
        img {
            border: none;
        }
        .name {
            h2 {
                color: var(--Verydarkgrayishblue);
            }
            p {
                opacity: 0.4;
                color: var(--Verydarkblackishblue);
              
            }
        }
        blockquote {
        p:first-of-type {
            color: var(--Verydarkgrayishblue);
            line-height: 1.2;
         
        }
        p:last-of-type {
            color: var(--Verydarkgrayishblue);
            opacity: .6;
        }
        }
    }
    .testimonial-card:nth-child(4) {
        background-color: var(--Verydarkblackishblue);
        img {
            border-color: var(--Moderateviolet);
        }
    }
    .quote {
        background-image: url("../images/bg-pattern-quotation.svg");
        background-repeat: no-repeat;
        background-position: top right 10%;
    }
}

//tablet
// @media (min-width: 768px) {
//     main {
//         display: grid;
//         gap: 2em;
//         grid-template-columns: repeat(2, 1fr);
//         grid-template-areas:
//         'one one'
//         'two five'
//         'three five'
//         'four four';
//         .testimonial-card:nth-child(1) {
//             grid-area: one;
//         }
//         .testimonial-card:nth-child(2) {
//             grid-area: two;
//         }
//         .testimonial-card:nth-child(3) {
//             grid-area: three;
//         }
//         .testimonial-card:nth-child(4) {
//             grid-area: four;
//         }
//         .testimonial-card:nth-child(5) {
//             grid-area: five;
//         }
        
//         .testimonial-card {
//             margin-block: 0;
//             width: 100%;
//         }
        
//     }
// }
@media (min-width: 992px) {

    main {
        
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: grid;
        gap: 2em;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
        'one one two five'
        'three four four five';
        .testimonial-card:nth-child(1) {
            grid-area: one;
        }
        .testimonial-card:nth-child(2) {
            grid-area: two;
        }
        .testimonial-card:nth-child(3) {
            grid-area: three;
        }
        .testimonial-card:nth-child(4) {
            grid-area: four;
        }
        .testimonial-card:nth-child(5) {
            grid-area: five;
        }
        
        .testimonial-card {
            margin-block: 0;
            width: 100%;
        }
        .span {
            grid-column: span 2;
        }
        .testimonial-card:last-child {
            grid-column-start: 4;
            grid-row-start: 1;
            grid-row-end: 3;
        }
        .quote {
            background-position: top right 20%;
        }
    }
}